.border{
	border-style: inset;
	border-width: 10px;
	width: 300px;
	margin: 0 auto;
}
.flex-grid-1{
  display: flex;
  width: 300px;
  height: 37.5px;
  text-align: center;
  line-height: 37.5px;
  margin: 0 auto;
  background-color: #cfcfcf;
  font-size: 30px;
  font-family: url(mine-sweeper/mine-sweeper.ttf);
}
.col{
  flex: 1;
  border-right: 2px dotted black;
  border-bottom: 2px dotted black;
}
.colLeft{
	flex: 1;
	border-right: 2px dotted black;
	border-bottom: 2px dotted black;
	
}
.colRight{
	flex: 1;
	border-bottom: 2px dotted black;
	
}
.colTop{

  flex: 1;
  border-right: 2px dotted black;
  border-bottom: 2px dotted black;
  
}
.colTopLeft{
  flex: 1;
  border-right: 2px dotted black;
	border-bottom: 2px dotted black;
  
}
.colTopRight{
  flex: 1;
  border-bottom: 2px dotted black;
  
}
.colBottom{
	flex: 1;
  border-right: 2px dotted black;
  
}
.colBottomLeft{
	flex: 1;
  border-right: 2px dotted black;
  
}
.colBottomRight{
	flex: 1;
  
}