h1, h2, h3, li, p, th, td, tr{
	font-family: Segoe UI;
}
h3, h2, h1{
	margin: 0;
	margin-top: 12px;
	padding: 0;
	font-weight: 600;
}
.margin{
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 40px;
	margin-right: 50px;
}
table{
	width: 400px;
	border: 1px solid #d4d2d1;
	border-collapse: collapse;
	margin-top: 5px;
}
th{
	text-align: left;
	border: 1px solid #d4d2d1;
	border-spacing: 10px;
	border-collapse: collapse;
	padding: 10px;
	padding-left: 15px;
}
td{
	border: 1px solid #d4d2d1;
	border-spacing: 10px;
	border-collapse: collapse;
	padding: 10px;
	padding-left: 15px;
}
td.tdBackground{
	background-color: #faf4f1;
}
hr{
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
span.bold{
	font-weight: 600;
}
span.italic{
	font-style: italic;
}
.italic{
	font-style: italic;
}
ol{
	padding-top: 7px;
}
span.highlight{
	background-color: #e8e3e0;
	padding: 3px;
	font-family: monospace;
}
img{
	width: 40%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
li{
	padding-bottom: 5px;
}
a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
ul.disc{
	list-style-type: disc;
}