i{
	line-height: 37.5px;
}
.border{
	border-style: inset;
	border-width: 10px;
	width: 300px;
	margin: 0 auto;
}
.flex-grid-1{
  display: flex;
  width: 300px;
  height: 37.5px;
  text-align: center;
  line-height: 37.5px;
  margin: 0 auto;
  background-color: #cfcfcf;
  font-size: 20px;
  font-family: 'MINE-SWEEPER';
    src: url('mine-sweeper/MINE-SWEEPER.woff2') format('mine-sweeper/woff2'),
        url('mine-sweeper/MINE-SWEEPER.woff') format('mine-sweeper/woff');
    font-weight: normal;
    font-style: normal;
}
.col{
  flex: 1;
  border-right: 2px dotted black;
  border-bottom: 2px dotted black;
}
.colLeft{
	flex: 1;
	border-right: 2px dotted black;
	border-bottom: 2px dotted black;
}
.colRight{
	flex: 1;
	border-bottom: 2px dotted black;
}
.colTop{
  flex: 1;
  border-right: 2px dotted black;
  border-bottom: 2px dotted black;
}
.colTopLeft{
  flex: 1;
  border-right: 2px dotted black;
	border-bottom: 2px dotted black;
}
.colTopRight{
  flex: 1;
  border-bottom: 2px dotted black;
}
.colBottom{
	flex: 1;
  border-right: 2px dotted black;
}
.colBottomLeft{
	flex: 1;
  border-right: 2px dotted black;
}
.colBottomRight{
	flex: 1;
}
.one{
	color: #183bb9;
}
.two{
	color: #21b918;
}
.three{
	color: #b91818;
}
.bomb{
	position: relative !important;
}
#notShownOne{
	background-color: #cfcfcf !important;
	color: #cfcfcf !important;
	border: outset 2px;
}
#notShownOne:hover{
  background-color: #cfcfcf !important;
  color: #183bb9 !important;
  border: 2px hidden black !important;
}
#notShownTwo{
	background-color: #cfcfcf !important;
	color: #cfcfcf !important;
	border: outset 2px;
}
#notShownTwo:hover{
  background-color: #cfcfcf !important;
  color: #21b918 !important;
  border: hidden !important;
}
#notShownBomb{
	background-color: #cfcfcf !important;
	border: outset 2px;
	color: #cfcfcf;
}
#notShownBomb:hover{
  background-color: #cfcfcf !important;
  border: hidden !important;
  color: #000000 !important;
}