.monthly-recap-grid{
    display: grid;
    grid-template-columns: 50px 640px;
    grid-template-rows: 50px 640px;
    justify-content: center;
}
.goal-completion{
    display: grid;
    grid-template-columns: 50px 640px;
    grid-template-rows: 50px 640px;
    justify-content: center;
}