font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?yfle86');
  src:  url('../fonts/icomoon.eot?yfle86#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?yfle86') format('truetype'),
    url('../fonts/icomoon.woff?yfle86') format('woff'),
    url('../fonts/icomoon.svg?yfle86#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-th:before {
  content: "\f00a";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-home:before {
  content: "\f015";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-book:before {
  content: "\f02d";
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-mail-forward:before {
  content: "\f064";
}
.icon-share:before {
  content: "\f064";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-comment:before {
  content: "\f075";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder:before {
  content: "\f07b";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-files-o:before {
  content: "\f0c5";
}
.icon-square:before {
  content: "\f0c8";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-tachometer:before {
  content: "\f0e4";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-circle-o:before {
  content: "\f10c";
}
.icon-circle:before {
  content: "\f111";
}
.icon-flag-o:before {
  content: "\f11d";
}
.icon-pie-chart:before {
  content: "\f200";
}
.icon-users:before {
  content: "\e900";
}